[workspace]
members = [
  "apps/desktop/src-tauri",
  "crates/formula-dax",
  "crates/formula-engine",
  "crates/formula-excel-oracle",
  "crates/formula-format",
  "crates/formula-io",
  "crates/formula-model",
  "crates/formula-storage",
  "crates/formula-vba",
  "crates/formula-xlsb",
  "crates/formula-xlsx",
  "crates/xlsx-diff",
]
resolver = "2"
