[workspace]
resolver = "2"
members = [
    "crates/formula-engine",
    "crates/formula-format",
    "crates/formula-model",
    "crates/formula-vba",
    "crates/formula-xlsx",
    "crates/xlsx-diff",
]
