[package]
name = "formula-vba-runtime"
version = "0.1.0"
edition = "2021"

[dependencies]
thiserror = "1.0"

[dev-dependencies]
pretty_assertions = "1.4"
formula-vba = { path = "../formula-vba" }
formula-xlsx = { path = "../formula-xlsx" }
