[package]
name = "formula-io"
version = "0.1.0"
edition = "2021"

[dependencies]
cfb = "0.10"
formula-format = { path = "../formula-format" }
formula-model = { path = "../formula-model" }
formula-xlsx = { path = "../formula-xlsx" }
formula-xls = { path = "../formula-xls" }
formula-xlsb = { path = "../formula-xlsb" }
thiserror = "1.0"
zip = { version = "2.1", default-features = false }

[dev-dependencies]
tempfile = "3.10"
xlsx-diff = { path = "../xlsx-diff" }
