[package]
name = "formula-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
formula-core = { path = "../formula-core" }
roxmltree = "0.20"
serde = { version = "1", features = ["derive"] }
serde-wasm-bindgen = "0.6"
serde_json = "1"
wasm-bindgen = "0.2"
zip = { version = "2.1", default-features = false, features = ["deflate"] }

[dev-dependencies]
wasm-bindgen-test = "0.3"
